.orders {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 2rem;
  /* margin: auto; */
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.orders__item h1 {
    margin: 0;
    font-size: 1rem;
}

.orders__item {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  border-radius: 8px;
  display: block;
  width: 50rem;
}

.orders__products {
    list-style: none;
    margin: 0;
    padding: 0;
}

.orders__products-item {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid #00695c;
    color: #00695c;
}


/* Multicolor css */

.wrapperes { 
  z-index: -1;
  /* height: 100vh; */
  /* height: 100%; */
  width: 100%;
  left:0;
  right: 0;
  top: 3.5rem;
  bottom: 0;
  position: relative;
  /* background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3); */
background: linear-gradient(44deg, #f08170, #8ff3fa, #f8d975, #f1f576, #78f88d, #8ff1f8, #a69ff1, #ee9df7, #dd54ec);
/* background-size: 1800% 1800%; */
background-size: 280% 280%;


-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
